* {
  box-sizing: border-box;
 button {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  
}

}



body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a06262;
 
}

/* BODY KALKULATOR */
.calculator {
  width: 300px;
  padding: 20px;
  border-radius: 24px;
  background: linear-gradient(180deg, #fff7f7, #e9bcbc);
  box-shadow:
    0 20px 40px rgba(14, 2, 2, 0.709);
}

/* DISPLAY */
#display {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px 16px;
  font-size: 32px;
  text-align: right;
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, #f7cfcf, #b38c8c);
  color: #ffffff;
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.25),
    inset -4px -4px 8px rgba(255, 255, 255, 0.7);
}

/* GRID TOMBOL */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

/* TOMBOL */
button {
  height: 56px;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(145deg, #e6e6e6, #bfbfbf);
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.25),
    -4px -4px 8px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 0.12s ease;
}

/* EFEK KLIK */
button:active {
  transform: scale(0.95);
  box-shadow:
    inset 4px 4px 8px rgba(15, 14, 16, 0.534),
    inset -4px -4px 8px rgba(255, 255, 255, 0.8);
}

/* TOMBOL C */
button.clear {
  color: #aa1313;
  font-weight: 600;
}

/* TOMBOL OPERATOR */
button:nth-child(4n) {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  margin-bottom: 24px;

  color: #000000;
  letter-spacing: 1px;

  text-shadow:
    2px 2px 0 rgb(224, 134, 134),
    0 0 8px rgba(0, 0, 0, 0.2);
}


